// Pagina lo que viene
.lqvbody {
  background-color: var(--main-backgroundcolor);
  color: white;
  font-size: 24px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "lqvheader    lqvheader lqvheader  lqvheader" 
  "lqvsection1  lqvmain   lqvsection lqvaside" 
  "lqvsection1  lqvmain   lqvsection lqvaside" 
  "lqvsection1  lqvfooter lqvfooter  lqvaside";
  grid-template-columns: 150px 1fr 1fr 20%;
  grid-template-rows: 50px auto auto auto;
}

.lqvheader {
  background-color: var(--main-backgroundcolor);
  grid-area: lqvheader;
  color:white;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}

.lqvsection1 {
  grid-area: lqvsection1;
  color: white;
  background-color: var(--main-color-secondary);
  flex-direction: column;
}

.lqvmain {
  grid-area: lqvmain;
  color: white;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
h2 {
  color: white;
}
}

.lqvsection {
  grid-area: lqvsection;
  color: white;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}

.lqvaside {
  grid-area: lqvaside;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  h2{
    color: white
  }
  ul li{
    color: black
  }
}

.lqvfooter {
  grid-area: lqvfooter;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  margin-bottom: 0;
}

@media screen and (min-width: 390px) {
  .lqvbody {
    grid-template-areas: 
    "lqvheader" 
    "lqvmain"
    "lqvsection1" 
    "lqvsection" 
    "lqvaside" 
    "lqvfooter";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto auto auto auto;
  }
}
@media screen and (min-width: 768px) {
  .lqvbody {
    grid-template-areas: 
    "lqvheader   lqvheader" 
    "lqvmain     lqvsection" 
    "lqvsection1 lqvaside" 
    "lqvfooter   lqvfooter";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px auto auto auto;
  }
}
@media screen and (min-width: 992px) {
  .lqvbody {
    grid-template-areas: 
    "lqvheader    lqvheader   lqvheader" 
    "lqvsection1  lqvmain     lqvaside" 
    "lqvsection1  lqvsection  lqvaside" 
    "lqvsection1  lqvfooter   lqvaside";
    grid-template-columns: 200px 1fr 20%;
    grid-template-rows: 50px auto auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .lqvbody {
    grid-template-areas: 
    "lqvheader    lqvheader lqvheader  lqvheader" 
    "lqvsection1  lqvmain   lqvsection lqvaside" 
    "lqvsection1  lqvmain   lqvsection lqvaside" 
    "lqvsection1  lqvfooter lqvfooter  lqvaside";
    grid-template-columns: 200px 1fr 1fr 20%;  
    grid-template-rows: 50px auto auto auto;
  }
  .nav-link {
    font-size: 15px;
  }
}