// Main
main {
    background-color: var(--main-color-secondary);
    text-align: center;

    section {
        h1 {
            color: white;
            text-align: center;
            font-family: "Bungee Tint", sans-serif;
            text-decoration-color: var(--main-text-color);
            font-size: 36px;
        }

        p {
            color: black;
            font-size: 18px;
        }

        h2 {
            color: black;
            font-size: 30px;
            margin-top: 0px;
        }

        h3 {
            font-size: 24px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        h4 {
            font-size: 22px;
        }

        h5 {
            font-size: 20px;
        }
    }
}
