/*reset con selector universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin-bottom: 0;
}

a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

footer {
  margin-bottom: 0;
}

/*variables CSS*/
:root {
  --main-backgroundcolor: #540d6e;
  --main-color-secondary: #ee4266;
  --main-text-color: #0ead69;
  --main-text-light: #3bceac;
  --main-extra-color: #ffd23f;
}

.boton {
  background-color: var(--main-extra-color);
  color: var(--main-backgroundcolor);
  padding: 5px 10px;
  border-radius: 8px;
}

.boton:hover {
  background-color: #0ead69;
}

.inicio {
  color: var(--main-extra-color);
}

.navbar {
  background-color: var(--main-backgroundcolor);
  color: var(--main-extra-color);
  font-size: 24px;
  height: 50px;
  top: 0;
}

.navbar-brand {
  color: var(--main-extra-color);
}

.navbar .nav-link {
  color: var(--main-extra-color);
  font-size: 24px;
}

header a {
  color: var(--main-extra-color);
  font-size: 18px;
}

header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 50px;
  margin-right: 10px;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

main {
  background-color: var(--main-color-secondary);
  text-align: center;
}
main section h1 {
  color: white;
  text-align: center;
  font-family: "Bungee Tint", sans-serif;
  text-decoration-color: var(--main-text-color);
  font-size: 36px;
}
main section p {
  color: black;
  font-size: 18px;
}
main section h2 {
  color: black;
  font-size: 30px;
  margin-top: 0px;
}
main section h3 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}
main section h4 {
  font-size: 22px;
}
main section h5 {
  font-size: 20px;
}

section {
  background-color: var(--main-color-secondary);
}

.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.elemento {
  background-color: var(--main-color-secondary);
  width: 20%;
  padding: 20px;
  min-width: 200px;
  overflow: hidden;
}

section article img {
  width: 350px;
  height: 200px;
}

section form {
  padding-top: 20px;
  text-align: start;
}

#footer {
  color: white;
  background-color: black;
  text-align: center;
}

.lqvbody {
  background-color: var(--main-backgroundcolor);
  color: white;
  font-size: 24px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "lqvheader    lqvheader lqvheader  lqvheader" "lqvsection1  lqvmain   lqvsection lqvaside" "lqvsection1  lqvmain   lqvsection lqvaside" "lqvsection1  lqvfooter lqvfooter  lqvaside";
  grid-template-columns: 150px 1fr 1fr 20%;
  grid-template-rows: 50px auto auto auto;
}

.lqvheader {
  background-color: var(--main-backgroundcolor);
  grid-area: lqvheader;
  color: white;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}

.lqvsection1 {
  grid-area: lqvsection1;
  color: white;
  background-color: var(--main-color-secondary);
  flex-direction: column;
}

.lqvmain {
  grid-area: lqvmain;
  color: white;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
.lqvmain h2 {
  color: white;
}

.lqvsection {
  grid-area: lqvsection;
  color: white;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}

.lqvaside {
  grid-area: lqvaside;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}
.lqvaside h2 {
  color: white;
}
.lqvaside ul li {
  color: black;
}

.lqvfooter {
  grid-area: lqvfooter;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  margin-bottom: 0;
}

@media screen and (min-width: 390px) {
  .lqvbody {
    grid-template-areas: "lqvheader" "lqvsection1" "lqvmain" "lqvsection" "lqvaside" "lqvfooter";
    grid-template-columns: auto;
    grid-template-rows: 100px auto auto auto auto auto;
  }
}
@media screen and (min-width: 768px) {
  .lqvbody {
    grid-template-areas: "lqvheader   lqvheader" "lqvmain     lqvsection" "lqvsection1 lqvaside" "lqvfooter   lqvfooter";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px auto auto auto;
  }
}
@media screen and (min-width: 992px) {
  .lqvbody {
    grid-template-areas: "lqvheader    lqvheader   lqvheader" "lqvsection1  lqvmain     lqvaside" "lqvsection1  lqvsection  lqvaside" "lqvsection1  lqvfooter   lqvaside";
    grid-template-columns: 200px 1fr 20%;
    grid-template-rows: 50px auto auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .lqvbody {
    grid-template-areas: "lqvheader    lqvheader lqvheader  lqvheader" "lqvsection1  lqvmain   lqvsection lqvaside" "lqvsection1  lqvmain   lqvsection lqvaside" "lqvsection1  lqvfooter lqvfooter  lqvaside";
    grid-template-columns: 200px 1fr 1fr 20%;
    grid-template-rows: 50px auto auto auto;
  }
  .nav-link {
    font-size: 15px;
  }
}
.rbody {
  background-color: var(--main-backgroundcolor);
  color: black;
  font-size: 24px;
  min-height: 100vh;
  display: grid;
  grid-template-areas: "rheader    rheader" "rhead      rhead" "rtabla1    rtabla2" "rarticle1  rarticle2" "rfooter    rfooter";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto auto auto auto;
}

.rheader {
  grid-area: rheader;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  text-align: center;
}

.rhead {
  grid-area: rhead;
  background-color: var(--main-color-secondary);
  flex-direction: column;
}

.rtabla1 {
  grid-area: rtabla1;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rarticle1 {
  grid-area: rarticle1;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rtabla2 {
  grid-area: rtabla2;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rarticle2 {
  grid-area: rarticle2;
  background-color: var(--main-color-secondary);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.rfooter {
  grid-area: rfooter;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 390px) {
  .rbody {
    grid-template-areas: "rheader" "rhead" "rtabla1" "rarticle1" "rtabla2" "rarticle2" "rfooter";
    grid-template-columns: auto;
    grid-template-rows: 100px auto auto auto auto 150px;
  }
  .rbody .rtabla1 {
    font-size: 10px;
    padding: 5px;
  }
  .rbody .rarticle1 {
    font-size: 10px;
    padding: 5px;
  }
  .rbody .rtabla2 {
    font-size: 10px;
    padding: 5px;
  }
  .rbody .rarticle2 {
    font-size: 10px;
    padding: 5px;
  }
}
@media screen and (min-width: 900px) {
  .rbody {
    grid-template-areas: "rheader    rheader" "rhead      rhead" "rtabla1    rtabla2" "rarticle1  rarticle2" "rfooter    rfooter";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px auto auto auto auto 150px;
  }
  .rbody .rtabla1 {
    font-size: 18px;
    padding: 10px;
  }
  .rbody .rtabla2 {
    font-size: 18px;
    padding: 10px;
  }
  .rbody .rarticle1 {
    padding: 10px;
    font-size: 18px;
  }
  .rbody .rarticle2 {
    padding: 10px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .rbody {
    grid-template-areas: "rheader    rheader" "rhead      rhead" "rtabla1    rtabla2" "rarticle1  rarticle2" "rfooter    rfooter";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px auto auto auto 100%;
  }
}
.ulcontainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}

.video {
  padding: 10px;
}

.formcontainer {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
